* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: rgb(31, 31, 31);
    color: rgb(196, 196, 196);
    user-select: none;
}

#general {
    width: 100%;
    height: 100vh;
}

#header {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.clearfix {
    float: none;
    clear: both;
}

#formulario {
    text-align: center;
}

#formulario .titulos {
    display: block;
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: bold;
}

.textbox {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 7px;
}

#boton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: rgb(0, 173, 181);
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.final {
    font-size: 20px;
}

#resultado {
    font-weight: bold;
}

.cajastext {
    background-color: rgb(0, 173, 181);
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

#logo {
    height: 192px;
}